<ngb-tabset>
  <ngb-tab>
    <template ngbTabTitle>All <span class="badge">{{images.length}}</span></template>
    <template ngbTabContent>
        <div class="row ">
            <div class="col-md-3 image-wrapper" *ngFor="let image of images"><img src="{{image.url}}{{image.width}}/{{image.height}}/{{image.category}}" class="img-thumbnail" alt=""></div>
        </div>
    </template>
  </ngb-tab>
  <ngb-tab *ngIf="imagesSports">
    <template ngbTabTitle>Sports <span class="badge">{{imagesSports.length}}</span></template>
    <template ngbTabContent>
        <div class="row">
            <div class="col-md-3 image-wrapper" *ngFor="let image of imagesSports"><img src="{{image.url}}{{image.width}}/{{image.height}}/{{image.category}}" class="img-thumbnail" alt=""></div>
        </div>
    </template>
  </ngb-tab>
  <ngb-tab *ngIf="imagesAnimals">
    <template ngbTabTitle>Animals <span class="badge">{{imagesAnimals.length}}</span></template>
    <template ngbTabContent>
        <div class="row ">
            <div class="col-md-3 image-wrapper" *ngFor="let image of imagesAnimals"><img src="{{image.url}}{{image.width}}/{{image.height}}/{{image.category}}" class="img-thumbnail" alt=""></div>
        </div>
    </template>
  </ngb-tab>
  <ngb-tab *ngIf="imagesNature">
    <template ngbTabTitle>Nature <span class="badge">{{imagesNature.length}}</span></template>
    <template ngbTabContent>
        <div class="row ">
            <div class="col-md-3 image-wrapper" *ngFor="let image of imagesNature"><img src="{{image.url}}{{image.width}}/{{image.height}}/{{image.category}}" class="img-thumbnail" alt=""></div>
        </div>
    </template>
  </ngb-tab>
</ngb-tabset>