<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">ScrollLoaderGallery</span>
        </div>
        <form class="navbar-form navbar-left" #f="ngForm" >
            <div class="form-group">
                <label for="inputRowsCount">Rows count (min.: 3, max.:20)</label>
                <input type="text" class="form-control" id="inputRowsCount" name="rowsCount" (change)="updateRowsCount($event)" placeholder="3">
            </div>
        </form>
    </div>
</nav>
<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <app-tabs [images]="images" [imagesAnimals]="imagesAnimals" [imagesNature]="imagesNature" [imagesSports]="imagesSports"></app-tabs>
      <br>
    </div>
  </div>
</div>